# GetOldTweets3

### Contents:
- [Import Packages](#Import-Packages)
- [Scrapping Tweets](#Scrapping-Tweets)
- [Running with additional incidents/ locations](#Running-with-additional-incidents/-locations)

For this project we decided to focus on floods within the United States. To obtain flood data we scraped Tweets using the GetOldTweets3 API. These APIs allowed us to scrape tweets with certain keywords pertaining to floods, from a certain location, within a certain timeframe.

# Import Packages

In [1]:
import GetOldTweets3 as got
import pandas as pd

# Scrapping Tweets

Function for scrapping each state:
Steps:
1. import tweets 
2. created nested list of tweets and tweet attributes (username, text, date, retweets, favorites, mentions, hashtags, geo) 
3. created dataframe of the list created in 2 
4. created a target column = 0 or 1 depending on when we pulled from 
5. created a user_split column that split usernames on '' 
6. created 'user_text' column, which is the the 'user_split' column + 'Text' column.

In [2]:
def get_tweets(state, startdate, enddate):
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch("Flood")\
                                            .setSince(startdate)\
                                            .setUntil(enddate)\
                                            .setNear(state)\
                                            .setWithin("500mi")\
                                            .setMaxTweets(1000)
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    text_tweets = [[#tw.id,
                #tw.permalink,
                tw.username,
                #tw.to,
                tw.text,
                tw.date,
                tw.retweets,
                tw.favorites,
                tw.mentions,
                tw.hashtags,
                tw.geo] for tw in tweet]
    df_state= pd.DataFrame(text_tweets, columns = ['User', 'Text', 'Date', 'Favorites', 'Retweets', 'Mentions',
                                                    'Hashtags'  , 'Geolocation'])
    return df_state

In [3]:
df_1 = get_tweets('Wisconsin', "2019-07-18", "2019-07-20")

In [4]:
df_1.shape

(350, 8)

In [5]:
df_1.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation
0,Gabriettaa,Nice to have a positive story about big cats f...,2019-07-19 22:40:31+00:00,0,1,@BBCWorld @BigCatRescue,#Respect,
1,chaaasiti04,my dad just told me to flood my car so I can g...,2019-07-19 22:26:34+00:00,0,0,,,
2,JDenius,"Happy B-day Reggie, from the office!!!",2019-07-19 22:19:05+00:00,1,2,,,
3,beganovic2021,Something about how crime will magically drop ...,2019-07-19 22:17:13+00:00,0,0,,,
4,RiskItAllRichy,Lol mine too. I’ve been avoiding floods for th...,2019-07-19 20:57:18+00:00,0,0,,,

In [6]:
df_1['user_split'] = [df_1['User'][row].replace('_', ' ') for row in df_1.index]

In [7]:
df_1.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split
0,Gabriettaa,Nice to have a positive story about big cats f...,2019-07-19 22:40:31+00:00,0,1,@BBCWorld @BigCatRescue,#Respect,,Gabriettaa
1,chaaasiti04,my dad just told me to flood my car so I can g...,2019-07-19 22:26:34+00:00,0,0,,,,chaaasiti04
2,JDenius,"Happy B-day Reggie, from the office!!!",2019-07-19 22:19:05+00:00,1,2,,,,JDenius
3,beganovic2021,Something about how crime will magically drop ...,2019-07-19 22:17:13+00:00,0,0,,,,beganovic2021
4,RiskItAllRichy,Lol mine too. I’ve been avoiding floods for th...,2019-07-19 20:57:18+00:00,0,0,,,,RiskItAllRichy

In [8]:
df_1['User'].value_counts().head(25)

iembot_phi         24
iembot_arx          8
iembot_okx          8
NWS_MountHolly      7
TBWSirSpitta        7
iembot_rlx          5
USGS_TexasFlood     5
iembot_hun          4
manyhotzbeats       3
iembot_jkl          3
TotalTrafficNYC     3
kpax512             3
TxMichaelDugan      2
LI_Weather516       2
LensReality         2
NWSTucson           2
nwsjacksonky        2
Bill_Flood          2
spotternetwork      2
iembot_iln          2
iembot_twc          2
CrystalDcreates     2
NWSCharlestonWV     2
runhildroeder       2
udor_visualarts     2
Name: User, dtype: int64

In [9]:
# 1 for it was a legitimate flood
df_1['target']= 1

In [10]:
df_1.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,target
0,Gabriettaa,Nice to have a positive story about big cats f...,2019-07-19 22:40:31+00:00,0,1,@BBCWorld @BigCatRescue,#Respect,,Gabriettaa,1
1,chaaasiti04,my dad just told me to flood my car so I can g...,2019-07-19 22:26:34+00:00,0,0,,,,chaaasiti04,1
2,JDenius,"Happy B-day Reggie, from the office!!!",2019-07-19 22:19:05+00:00,1,2,,,,JDenius,1
3,beganovic2021,Something about how crime will magically drop ...,2019-07-19 22:17:13+00:00,0,0,,,,beganovic2021,1
4,RiskItAllRichy,Lol mine too. I’ve been avoiding floods for th...,2019-07-19 20:57:18+00:00,0,0,,,,RiskItAllRichy,1

In [11]:
# this user was referring to their album Flood so we needed to change that target 0
for i in df_1[df_1['User']== 'TBWSirSpitta'].index:
    df_1['target'][i]=0
df_1[df_1['User']=='TBWSirSpitta']

/Users/grace1916/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,target
31,TBWSirSpitta,Don’t be that one mf that try to fuck up the v...,2019-07-19 03:16:55+00:00,2,2,,#MYWAY #LINKINBIO #TooBusyWinning #FLOOD #FOE ...,,TBWSirSpitta,0
34,TBWSirSpitta,Go Pre Order “MY WAY” Now #LINKINBIO @GTDigita...,2019-07-19 02:45:39+00:00,3,2,@GTDigitalDIST @Goldtoes415,#LINKINBIO #TooBusyWinning #MYWAY #FLOOD #FOE ...,,TBWSirSpitta,0
35,TBWSirSpitta,PRE ORDER #MYWAY The link is in my bio @applem...,2019-07-19 02:40:52+00:00,2,1,@AppleMusic,#MYWAY #FLOOD #TooBusyWinning #FLOOD #FOE,,TBWSirSpitta,0
174,TBWSirSpitta,"So they ask me, “Yung boa, what you gone do th...",2019-07-18 17:26:46+00:00,0,0,,#MYWAY #TooBusyWinning #FLOOD #FOE #SOLID #gtd...,,TBWSirSpitta,0
196,TBWSirSpitta,Ahhhh shit we done made it to the LAST DAY BEF...,2019-07-18 13:26:47+00:00,0,0,,#MYWAY #TooBusyWinning #FLOOD #FOE #SOLID,,TBWSirSpitta,0
206,TBWSirSpitta,Niggas couldn’t survive on this side TOMORROW ...,2019-07-18 12:35:00+00:00,0,0,@CalvoMayne,#MYWAY #TooBusyWinning #FLOOD #FOE #SOLID #gtd...,,TBWSirSpitta,0
298,TBWSirSpitta,Wanna feel like this guy? Listen to #MYWAY And...,2019-07-18 01:01:48+00:00,1,0,,#MYWAY #TooBusyWinning #FLOOD #FOE #SOLID #gtd...,,TBWSirSpitta,0

In [12]:
# looking at a false positive 
df_1['Text'][0]

"Nice to have a positive story about big cats for a change! #Respect India floods: Tired tiger takes nap in resident's bed via @BBCWorld https://www.bbc.com/news/world-asia-india-49041722 @BigCatRescue"

In [13]:
# changing the false positive to a target of one 
df_1['target'][0]=0

/Users/grace1916/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
len(df_1['user_split'][0])

10

In [15]:
df_1[df_1['user_split'].str.find('iembot')>-1]

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,target
11,iembot_sgf,"At 6:15 PM CDT, 2 WNW Rolla [Phelps Co, MO] PU...",2019-07-19 13:53:26+00:00,1,0,,,,iembot sgf,1
15,iembot_arx,"At 3:00 AM CDT, Stockton [Winona Co, MN] EMERG...",2019-07-19 12:07:40+00:00,0,0,,,,iembot arx,1
16,iembot_arx,"At 7:05 AM CDT, 2 NE Lewiston [Winona Co, MN] ...",2019-07-19 12:07:39+00:00,0,0,,,,iembot arx,1
18,iembot_arx,"At 5:22 AM CDT, 1 W Coon Valley [Vernon Co, WI...",2019-07-19 10:28:15+00:00,0,0,,,,iembot arx,1
19,iembot_arx,"At 4:13 AM CDT, 1 N Viroqua [Vernon Co, WI] LA...",2019-07-19 09:16:25+00:00,0,0,,,,iembot arx,1
...,...,...,...,...,...,...,...,...,...,...
292,iembot_lsx,"At 8:05 PM CDT, Gerald [Franklin Co, MO] 911 C...",2019-07-18 01:14:37+00:00,0,0,,,,iembot lsx,1
293,iembot_lsx,"At 8:05 PM CDT, NEW Haven [Franklin Co, MO] 91...",2019-07-18 01:13:45+00:00,0,0,,,,iembot lsx,1
340,iembot_phi,"At 8:06 PM EDT, 1 SSW Exeter TWP [Berks Co, PA...",2019-07-18 00:07:49+00:00,0,0,,,,iembot phi,1
347,iembot_meg,"At 7:45 AM CDT, 8 ENE Tupelo [Lee Co, MS] BROA...",2019-07-18 00:01:43+00:00,0,0,,,,iembot meg,1
348,iembot_phi,"At 7:53 PM EDT, Douglassville [Berks Co, PA] F...",2019-07-18 00:01:29+00:00,2,1,,,,iembot phi,1

In [16]:
df_1['user_text'] = df_1['user_split']+' ' + df_1['Text']
df_1.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,target,user_text
0,Gabriettaa,Nice to have a positive story about big cats f...,2019-07-19 22:40:31+00:00,0,1,@BBCWorld @BigCatRescue,#Respect,,Gabriettaa,0,Gabriettaa Nice to have a positive story about...
1,chaaasiti04,my dad just told me to flood my car so I can g...,2019-07-19 22:26:34+00:00,0,0,,,,chaaasiti04,1,chaaasiti04 my dad just told me to flood my ca...
2,JDenius,"Happy B-day Reggie, from the office!!!",2019-07-19 22:19:05+00:00,1,2,,,,JDenius,1,"JDenius Happy B-day Reggie, from the office!!!"
3,beganovic2021,Something about how crime will magically drop ...,2019-07-19 22:17:13+00:00,0,0,,,,beganovic2021,1,beganovic2021 Something about how crime will m...
4,RiskItAllRichy,Lol mine too. I’ve been avoiding floods for th...,2019-07-19 20:57:18+00:00,0,0,,,,RiskItAllRichy,1,RiskItAllRichy Lol mine too. I’ve been avoidin...

In [17]:
df_0 = get_tweets('Wisconsin', "2019-12-16", "2019-12-25")

In [18]:
df_0['user_split'] = [df_0['User'][row].replace('_', ' ') for row in df_0.index]

In [19]:
df_0['user_text'] = df_0['user_split']+' ' + df_0['Text']
df_0.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text
0,jimistlboy,It’s an enormous injustice and it hurts my Car...,2019-12-24 23:29:02+00:00,1,2,,,,jimistlboy,jimistlboy It’s an enormous injustice and it h...
1,EdwardWellence,Im sorry to say some people wont find happines...,2019-12-24 23:12:59+00:00,2,7,,,,EdwardWellence,EdwardWellence Im sorry to say some people won...
2,maya0818,"Floods, fog create Christmas Eve travel havoc",2019-12-24 23:07:44+00:00,0,0,,,,maya0818,"maya0818 Floods, fog create Christmas Eve trav..."
3,morganabigail,Drinking a Bar Baby Blonde by @GreatFloodBeer ...,2019-12-24 23:03:37+00:00,0,2,@GreatFloodBeer,,,morganabigail,morganabigail Drinking a Bar Baby Blonde by @G...
4,LitVolBangor,"Merry Jólabókaflóð, or “Yule Book Flood""! In I...",2019-12-24 22:46:56+00:00,6,12,,#delightful #ChristmasEve,,LitVolBangor,"LitVolBangor Merry Jólabókaflóð, or “Yule Book..."

In [20]:
df_0['target']=0

In [21]:
df_WI = pd.concat([df_1, df_0], ignore_index = True)
df_WI

/Users/grace1916/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Date,Favorites,Geolocation,Hashtags,Mentions,Retweets,Text,User,target,user_split,user_text
0,2019-07-19 22:40:31+00:00,0,,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,Gabriettaa,0,Gabriettaa,Gabriettaa Nice to have a positive story about...
1,2019-07-19 22:26:34+00:00,0,,,,0,my dad just told me to flood my car so I can g...,chaaasiti04,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...
2,2019-07-19 22:19:05+00:00,1,,,,2,"Happy B-day Reggie, from the office!!!",JDenius,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!"
3,2019-07-19 22:17:13+00:00,0,,,,0,Something about how crime will magically drop ...,beganovic2021,1,beganovic2021,beganovic2021 Something about how crime will m...
4,2019-07-19 20:57:18+00:00,0,,,,0,Lol mine too. I’ve been avoiding floods for th...,RiskItAllRichy,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...
...,...,...,...,...,...,...,...,...,...,...,...
1345,2019-12-16 20:57:46+00:00,0,,,,0,The Flash Flood Warning is in effect until 4:3...,TylerSeggerman,0,TylerSeggerman,TylerSeggerman The Flash Flood Warning is in e...
1346,2019-12-16 20:57:46+00:00,7,,#12NewsNow #StormTracker,,7,FLASH FLOOD WARNING | Emergency personnel are ...,TylerSeggerman,0,TylerSeggerman,TylerSeggerman FLASH FLOOD WARNING | Emergency...
1347,2019-12-16 20:45:44+00:00,0,,#WoooPigSooieAnyway,,1,"Exactly. Until then, flood his account with su...",timothy_mosby,0,timothy mosby,"timothy mosby Exactly. Until then, flood his a..."
1348,2019-12-16 20:31:51+00:00,0,,,,1,There’s two things in the Bible I absolutely c...,1yson,0,1yson,1yson There’s two things in the Bible I absolu...
1349,2019-12-16 20:31:27+00:00,6,,,,5,Flash Flood Warning including Beaumont TX unti...,NWSLakeCharles,0,NWSLakeCharles,NWSLakeCharles Flash Flood Warning including B...

In [22]:
df_WI['location'] = 'WI'
df_WI.head()

,Date,Favorites,Geolocation,Hashtags,Mentions,Retweets,Text,User,target,user_split,user_text,location
0,2019-07-19 22:40:31+00:00,0,,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,Gabriettaa,0,Gabriettaa,Gabriettaa Nice to have a positive story about...,WI
1,2019-07-19 22:26:34+00:00,0,,,,0,my dad just told me to flood my car so I can g...,chaaasiti04,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...,WI
2,2019-07-19 22:19:05+00:00,1,,,,2,"Happy B-day Reggie, from the office!!!",JDenius,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!",WI
3,2019-07-19 22:17:13+00:00,0,,,,0,Something about how crime will magically drop ...,beganovic2021,1,beganovic2021,beganovic2021 Something about how crime will m...,WI
4,2019-07-19 20:57:18+00:00,0,,,,0,Lol mine too. I’ve been avoiding floods for th...,RiskItAllRichy,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...,WI

In [23]:
#df_WI.to_csv('df_WI.csv')

In [24]:
pd.read_csv('../Datasets/df_WI.csv')

,Unnamed: 0,Date,Favorites,Geolocation,HashTags,Mentions,Retweets,Text,User,target,user_split,user_text,location
0,0,2019-07-19 22:40:31+00:00,0,NaN,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,Gabriettaa,0,Gabriettaa,Gabriettaa Nice to have a positive story about...,WI
1,1,2019-07-19 22:26:34+00:00,0,NaN,NaN,NaN,0,my dad just told me to flood my car so I can g...,chaaasiti04,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...,WI
2,2,2019-07-19 22:19:05+00:00,1,NaN,NaN,NaN,2,"Happy B-day Reggie, from the office!!!",JDenius,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!",WI
3,3,2019-07-19 22:17:13+00:00,0,NaN,NaN,NaN,0,Something about how crime will magically drop ...,beganovic2021,1,beganovic2021,beganovic2021 Something about how crime will m...,WI
4,4,2019-07-19 20:57:18+00:00,0,NaN,NaN,NaN,0,Lol mine too. I’ve been avoiding floods for th...,RiskItAllRichy,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,698,2019-12-21 00:15:59+00:00,0,NaN,#StarWarsRiseofSkywalker #StarWars9,NaN,6,What’s the o/u for how many times I’ll flood t...,NotTheFakeWags,0,NotTheFakeWags,NotTheFakeWags What’s the o/u for how many tim...,WI
699,699,2019-12-20 23:52:23+00:00,1,NaN,#flood #NDMA,NaN,0,This is a sample message from a disaster victi...,david_hadaller,0,david hadaller,david hadaller This is a sample message from a...,WI
700,700,2019-12-20 23:29:12+00:00,0,NaN,NaN,NaN,0,Just arriving so warm ups complete and flood d...,lhhslionshockey,0,lhhslionshockey,lhhslionshockey Just arriving so warm ups comp...,WI
701,701,2019-12-20 23:06:57+00:00,0,NaN,NaN,NaN,1,Does it flood in Brandon? Wonder if this thing...,aggieloveseggs,0,aggieloveseggs,aggieloveseggs Does it flood in Brandon? Wonde...,WI
702,702,2019-12-20 23:01:21+00:00,0,NaN,NaN,NaN,30,Just turned in the Grand Cherokee Trailhawk. 3...,SpeedSportLife,0,SpeedSportLife,SpeedSportLife Just turned in the Grand Cherok...,WI

### Running with additional incidents/ locations

We then scrapped Texas and Iowa for dates where a flood did occur and dates where a flood did not occur.

In [25]:
df_1_TX = get_tweets('Texas', "2016-05-22", "2016-06-24")

In [26]:
df_1_TX.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation
0,iembot_rlx,"At 7:51 PM, 2 NNE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:53:45+00:00,0,0,,#RLX,
1,iembot_rlx,"At 7:48 PM, 4 SSE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:50:46+00:00,0,0,,#RLX,
2,iembot_rlx,"At 7:44 PM, Rush [Boyd Co, KY] EMERGENCY MNGR ...",2016-06-23 23:48:01+00:00,0,0,,#RLX,
3,iembot_rlx,"At 6:03 PM, 3 SW Amma [Roane Co, WV] DEPT OF H...",2016-06-23 22:27:16+00:00,0,0,,#RLX,
4,iembot_rnk,"At 6:00 PM, Renick [Greenbrier Co, WV] EMERGEN...",2016-06-23 22:23:57+00:00,0,0,,#RNK,

In [27]:
df_1_TX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
User           1000 non-null object
Text           1000 non-null object
Date           1000 non-null datetime64[ns, UTC]
Favorites      1000 non-null int64
Retweets       1000 non-null int64
Mentions       1000 non-null object
Hashtags       1000 non-null object
Geolocation    1000 non-null object
dtypes: datetime64[ns, UTC](1), int64(2), object(5)
memory usage: 62.6+ KB

In [28]:
df_1_TX['Geolocation'].unique()

array([''], dtype=object)

In [29]:
df_1_TX['user_split'] = [df_1_TX['User'][row].replace('_', ' ') for row in df_1_TX.index]
df_1_TX['user_text'] = df_1_TX['user_split']+' ' + df_1_TX['Text']
df_1_TX.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text
0,iembot_rlx,"At 7:51 PM, 2 NNE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:53:45+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:51 PM, 2 NNE Rush [Boyd Co, KY..."
1,iembot_rlx,"At 7:48 PM, 4 SSE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:50:46+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:48 PM, 4 SSE Rush [Boyd Co, KY..."
2,iembot_rlx,"At 7:44 PM, Rush [Boyd Co, KY] EMERGENCY MNGR ...",2016-06-23 23:48:01+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:44 PM, Rush [Boyd Co, KY] EMER..."
3,iembot_rlx,"At 6:03 PM, 3 SW Amma [Roane Co, WV] DEPT OF H...",2016-06-23 22:27:16+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 6:03 PM, 3 SW Amma [Roane Co, WV..."
4,iembot_rnk,"At 6:00 PM, Renick [Greenbrier Co, WV] EMERGEN...",2016-06-23 22:23:57+00:00,0,0,,#RNK,,iembot rnk,"iembot rnk At 6:00 PM, Renick [Greenbrier Co, ..."

In [30]:
df_1_TX['target']=1
df_1_TX.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target
0,iembot_rlx,"At 7:51 PM, 2 NNE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:53:45+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:51 PM, 2 NNE Rush [Boyd Co, KY...",1
1,iembot_rlx,"At 7:48 PM, 4 SSE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:50:46+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:48 PM, 4 SSE Rush [Boyd Co, KY...",1
2,iembot_rlx,"At 7:44 PM, Rush [Boyd Co, KY] EMERGENCY MNGR ...",2016-06-23 23:48:01+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:44 PM, Rush [Boyd Co, KY] EMER...",1
3,iembot_rlx,"At 6:03 PM, 3 SW Amma [Roane Co, WV] DEPT OF H...",2016-06-23 22:27:16+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 6:03 PM, 3 SW Amma [Roane Co, WV...",1
4,iembot_rnk,"At 6:00 PM, Renick [Greenbrier Co, WV] EMERGEN...",2016-06-23 22:23:57+00:00,0,0,,#RNK,,iembot rnk,"iembot rnk At 6:00 PM, Renick [Greenbrier Co, ...",1

In [31]:
df_0_TX = get_tweets('Texas', "2016-08-22", "2016-09-24")

In [32]:
df_0_TX.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation
0,GODFATHERofICE,And it begins/has begun #ruts #snow #frozenHan...,2016-09-23 23:21:49+00:00,0,0,,#ruts #snow #frozenHands #floods #doubleZams,
1,NotMadOnline247,"""Oh, Ophelia, you've been on my mind girl sinc...",2016-09-23 22:58:22+00:00,0,1,,,
2,tim_kite,Charity beer for flood relief! Come get some! ...,2016-09-23 22:50:47+00:00,0,0,@TheAbitaBeer,,
3,kerascreations,#cedarrapids #ellisharbor #cr2016flood #prepar...,2016-09-23 22:28:33+00:00,0,1,,#cedarrapids #ellisharbor #cr2016flood #prepar...,
4,adv_w_nancylynn,Come to the McCallie tailgate tonight and supp...,2016-09-23 21:39:13+00:00,0,1,,,

In [33]:
df_0_TX['user_split'] = [df_0_TX['User'][row].replace('_', ' ') for row in df_0_TX.index]
df_0_TX['user_text'] = df_0_TX['user_split']+' ' + df_0_TX['Text']
df_0_TX.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text
0,GODFATHERofICE,And it begins/has begun #ruts #snow #frozenHan...,2016-09-23 23:21:49+00:00,0,0,,#ruts #snow #frozenHands #floods #doubleZams,,GODFATHERofICE,GODFATHERofICE And it begins/has begun #ruts #...
1,NotMadOnline247,"""Oh, Ophelia, you've been on my mind girl sinc...",2016-09-23 22:58:22+00:00,0,1,,,,NotMadOnline247,"NotMadOnline247 ""Oh, Ophelia, you've been on m..."
2,tim_kite,Charity beer for flood relief! Come get some! ...,2016-09-23 22:50:47+00:00,0,0,@TheAbitaBeer,,,tim kite,tim kite Charity beer for flood relief! Come g...
3,kerascreations,#cedarrapids #ellisharbor #cr2016flood #prepar...,2016-09-23 22:28:33+00:00,0,1,,#cedarrapids #ellisharbor #cr2016flood #prepar...,,kerascreations,kerascreations #cedarrapids #ellisharbor #cr20...
4,adv_w_nancylynn,Come to the McCallie tailgate tonight and supp...,2016-09-23 21:39:13+00:00,0,1,,,,adv w nancylynn,adv w nancylynn Come to the McCallie tailgate ...

In [34]:
df_0_TX['target']=0
df_0_TX.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target
0,GODFATHERofICE,And it begins/has begun #ruts #snow #frozenHan...,2016-09-23 23:21:49+00:00,0,0,,#ruts #snow #frozenHands #floods #doubleZams,,GODFATHERofICE,GODFATHERofICE And it begins/has begun #ruts #...,0
1,NotMadOnline247,"""Oh, Ophelia, you've been on my mind girl sinc...",2016-09-23 22:58:22+00:00,0,1,,,,NotMadOnline247,"NotMadOnline247 ""Oh, Ophelia, you've been on m...",0
2,tim_kite,Charity beer for flood relief! Come get some! ...,2016-09-23 22:50:47+00:00,0,0,@TheAbitaBeer,,,tim kite,tim kite Charity beer for flood relief! Come g...,0
3,kerascreations,#cedarrapids #ellisharbor #cr2016flood #prepar...,2016-09-23 22:28:33+00:00,0,1,,#cedarrapids #ellisharbor #cr2016flood #prepar...,,kerascreations,kerascreations #cedarrapids #ellisharbor #cr20...,0
4,adv_w_nancylynn,Come to the McCallie tailgate tonight and supp...,2016-09-23 21:39:13+00:00,0,1,,,,adv w nancylynn,adv w nancylynn Come to the McCallie tailgate ...,0

In [35]:
df_TX = pd.concat([df_1_TX, df_0_TX], axis = 0)

In [36]:
df_TX['location'] = 'TX'
df_TX.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target,location
0,iembot_rlx,"At 7:51 PM, 2 NNE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:53:45+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:51 PM, 2 NNE Rush [Boyd Co, KY...",1,TX
1,iembot_rlx,"At 7:48 PM, 4 SSE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:50:46+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:48 PM, 4 SSE Rush [Boyd Co, KY...",1,TX
2,iembot_rlx,"At 7:44 PM, Rush [Boyd Co, KY] EMERGENCY MNGR ...",2016-06-23 23:48:01+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 7:44 PM, Rush [Boyd Co, KY] EMER...",1,TX
3,iembot_rlx,"At 6:03 PM, 3 SW Amma [Roane Co, WV] DEPT OF H...",2016-06-23 22:27:16+00:00,0,0,,#RLX,,iembot rlx,"iembot rlx At 6:03 PM, 3 SW Amma [Roane Co, WV...",1,TX
4,iembot_rnk,"At 6:00 PM, Renick [Greenbrier Co, WV] EMERGEN...",2016-06-23 22:23:57+00:00,0,0,,#RNK,,iembot rnk,"iembot rnk At 6:00 PM, Renick [Greenbrier Co, ...",1,TX

In [37]:
df_TX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 999
Data columns (total 12 columns):
User           2000 non-null object
Text           2000 non-null object
Date           2000 non-null datetime64[ns, UTC]
Favorites      2000 non-null int64
Retweets       2000 non-null int64
Mentions       2000 non-null object
Hashtags       2000 non-null object
Geolocation    2000 non-null object
user_split     2000 non-null object
user_text      2000 non-null object
target         2000 non-null int64
location       2000 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 203.1+ KB

In [38]:
#df_TX.to_csv('df_TX.csv')

In [39]:
pd.read_csv('../Datasets/df_TX.csv')

,Unnamed: 0,User,Text,Date,Favorites,Retweets,Mentions,HashTags,Geolocation,user_split,user_text,target,location
0,0,LisaAbeyta,Flash flood warning until 7 PM #nmwx #nm @Albu...,2016-06-23 23:59:36+00:00,0,0,NaN,#nmwx #nm,NaN,LisaAbeyta,LisaAbeyta Flash flood warning until 7 PM #nmw...,1,TX
1,1,iembot_rlx,"At 7:51 PM, 2 NNE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:53:45+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:51 PM, 2 NNE Rush [Boyd Co, KY...",1,TX
2,2,iembot_rlx,"At 7:48 PM, 4 SSE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:50:46+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:48 PM, 4 SSE Rush [Boyd Co, KY...",1,TX
3,3,iembot_rlx,"At 7:44 PM, Rush [Boyd Co, KY] EMERGENCY MNGR ...",2016-06-23 23:48:01+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:44 PM, Rush [Boyd Co, KY] EMER...",1,TX
4,4,iembot_rlx,"At 6:03 PM, 3 SW Amma [Roane Co, WV] DEPT OF H...",2016-06-23 22:27:16+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 6:03 PM, 3 SW Amma [Roane Co, WV...",1,TX
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,995,CharlotteCP,Flash flood watch for Charlotte and eastward u...,2016-09-02 09:56:07+00:00,0,0,@SarahFortnerWx,NaN,NaN,CharlotteCP,CharlotteCP Flash flood watch for Charlotte an...,0,TX
1996,996,NWSTallahassee,Move to higher ground! Flash Flood Warning in...,2016-09-02 05:19:09+00:00,56,18,NaN,NaN,NaN,NWSTallahassee,NWSTallahassee Move to higher ground! Flash F...,0,TX
1997,997,BLifeAldine,Help arrives for Greenspoint flood victi http:...,2016-09-02 04:47:49+00:00,0,0,NaN,NaN,NaN,BLifeAldine,BLifeAldine Help arrives for Greenspoint flood...,0,TX
1998,998,Futureteller,W my fellow Capital Correspondents raising $fo...,2016-09-02 02:49:25+00:00,0,3,NaN,NaN,NaN,Futureteller,Futureteller W my fellow Capital Correspondent...,0,TX
1999,999,ClayDix,"Flood party @Charleston, South Carolina https:...",2016-09-02 02:46:37+00:00,0,0,NaN,NaN,NaN,ClayDix,"ClayDix Flood party @Charleston, South Carolin...",0,TX

y=1 data, Iowa

In [40]:
df_1_IA = get_tweets('Iowa', "2016-09-21", "2016-10-03")

In [41]:
df_1_IA['user_split'] = [df_1_IA['User'][row].replace('_', ' ') for row in df_1_IA.index]
df_1_IA['user_text'] = df_1_IA['user_split']+' ' + df_1_IA['Text']
df_1_IA.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text
0,iembot_grr,"At 7:30 PM, 3 SW Clarksville [Ionia Co, MI] 91...",2016-10-02 00:02:34+00:00,0,0,,#GRR,,iembot grr,"iembot grr At 7:30 PM, 3 SW Clarksville [Ionia..."
1,chriswhetlor,"Alien Crop Circles, sign of the flood, or poss...",2016-10-01 22:42:21+00:00,0,0,,,,chriswhetlor,"chriswhetlor Alien Crop Circles, sign of the f..."
2,NickFry,Don't forget!!! TONIGHT! WV Flood Benefit Conc...,2016-10-01 21:52:44+00:00,0,0,,,,NickFry,NickFry Don't forget!!! TONIGHT! WV Flood Bene...
3,iembot_lwx,"At 3:13 PM, 1 SW Breton BAY [St. Marys Co, MD]...",2016-10-01 19:15:32+00:00,0,0,,#LWX,,iembot lwx,"iembot lwx At 3:13 PM, 1 SW Breton BAY [St. Ma..."
4,Mzzbesttbest,My Sisters keeps Telling me not to Flood and S...,2016-10-01 17:58:03+00:00,1,1,,,,Mzzbesttbest,Mzzbesttbest My Sisters keeps Telling me not t...

In [42]:
df_1_IA['target']=1
df_1_IA.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target
0,iembot_grr,"At 7:30 PM, 3 SW Clarksville [Ionia Co, MI] 91...",2016-10-02 00:02:34+00:00,0,0,,#GRR,,iembot grr,"iembot grr At 7:30 PM, 3 SW Clarksville [Ionia...",1
1,chriswhetlor,"Alien Crop Circles, sign of the flood, or poss...",2016-10-01 22:42:21+00:00,0,0,,,,chriswhetlor,"chriswhetlor Alien Crop Circles, sign of the f...",1
2,NickFry,Don't forget!!! TONIGHT! WV Flood Benefit Conc...,2016-10-01 21:52:44+00:00,0,0,,,,NickFry,NickFry Don't forget!!! TONIGHT! WV Flood Bene...,1
3,iembot_lwx,"At 3:13 PM, 1 SW Breton BAY [St. Marys Co, MD]...",2016-10-01 19:15:32+00:00,0,0,,#LWX,,iembot lwx,"iembot lwx At 3:13 PM, 1 SW Breton BAY [St. Ma...",1
4,Mzzbesttbest,My Sisters keeps Telling me not to Flood and S...,2016-10-01 17:58:03+00:00,1,1,,,,Mzzbesttbest,Mzzbesttbest My Sisters keeps Telling me not t...,1

In [43]:
df_1_IA['Text'][2]

"Don't forget!!! TONIGHT! WV Flood Benefit Concert Barboursville Park in Barboursville,… https://www.instagram.com/p/BLCTwi4At58/"

In [44]:
df_1_IA.head(25)

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target
0,iembot_grr,"At 7:30 PM, 3 SW Clarksville [Ionia Co, MI] 91...",2016-10-02 00:02:34+00:00,0,0,,#GRR,,iembot grr,"iembot grr At 7:30 PM, 3 SW Clarksville [Ionia...",1
1,chriswhetlor,"Alien Crop Circles, sign of the flood, or poss...",2016-10-01 22:42:21+00:00,0,0,,,,chriswhetlor,"chriswhetlor Alien Crop Circles, sign of the f...",1
2,NickFry,Don't forget!!! TONIGHT! WV Flood Benefit Conc...,2016-10-01 21:52:44+00:00,0,0,,,,NickFry,NickFry Don't forget!!! TONIGHT! WV Flood Bene...,1
3,iembot_lwx,"At 3:13 PM, 1 SW Breton BAY [St. Marys Co, MD]...",2016-10-01 19:15:32+00:00,0,0,,#LWX,,iembot lwx,"iembot lwx At 3:13 PM, 1 SW Breton BAY [St. Ma...",1
4,Mzzbesttbest,My Sisters keeps Telling me not to Flood and S...,2016-10-01 17:58:03+00:00,1,1,,,,Mzzbesttbest,Mzzbesttbest My Sisters keeps Telling me not t...,1
5,favourcookieco,takeadumpontrump2016@Gmail.com Flood his inbox...,2016-10-01 17:45:43+00:00,0,0,,,,favourcookieco,favourcookieco takeadumpontrump2016@Gmail.com ...,1
6,HeelingAHart,And GN/GM... This concludes the clearing of my...,2016-10-01 06:16:09+00:00,0,0,,,,HeelingAHart,HeelingAHart And GN/GM... This concludes the c...,1
7,LaffHousePhilly,datgirlcomedy and hope.flood #philly #laffhous...,2016-10-01 03:22:57+00:00,0,1,,#philly #laffhouseisback #LAFFHOUSE #comdeyvets,,LaffHousePhilly,LaffHousePhilly datgirlcomedy and hope.flood #...,1
8,LaffHousePhilly,hope.flood &amp; datgirlcomedy killed it tonig...,2016-10-01 03:09:26+00:00,1,0,,#laffhouseisback #laffhouse,,LaffHousePhilly,LaffHousePhilly hope.flood &amp; datgirlcomedy...,1
9,njframer,VERY IMPORTANT to all in the Windsor/Tecumseh ...,2016-10-01 01:57:57+00:00,0,0,,,,njframer,njframer VERY IMPORTANT to all in the Windsor/...,1
10,Chaotic_Freedom,intersection of King and Union#sandbags #flood...,2016-10-01 00:08:02+00:00,0,0,,#flood #flooding,,Chaotic Freedom,Chaotic Freedom intersection of King and Union...,1
11,iembot_akq,"At 4:15 PM, 2 E Wharfs Store [Dinwiddie Co, VA...",2016-09-30 23:22:04+00:00,0,0,,#AKQ,,iembot akq,"iembot akq At 4:15 PM, 2 E Wharfs Store [Dinwi...",1
12,iembot_akq,"At 5:30 PM, 1 W Petersburg National [City Of P...",2016-09-30 23:18:46+00:00,0,0,,#AKQ,,iembot akq,"iembot akq At 5:30 PM, 1 W Petersburg National...",1
13,NWSWakefieldVA,Move to higher ground! Flash Flood Warning in...,2016-09-30 21:53:34+00:00,2,0,,,,NWSWakefieldVA,NWSWakefieldVA Move to higher ground! Flash F...,1
14,NWSWakefieldVA,Move to higher ground! Flash Flood Warning in...,2016-09-30 20:56:20+00:00,1,1,,,,NWSWakefieldVA,NWSWakefieldVA Move to higher ground! Flash F...,1
15,erickasvision,This is our look as if right now. Flash flood ...,2016-09-30 20:36:25+00:00,0,0,,,,erickasvision,erickasvision This is our look as if right now...,1
16,NWSWakefieldVA,Move to higher ground! Flash Flood Warning in...,2016-09-30 20:34:27+00:00,2,0,,,,NWSWakefieldVA,NWSWakefieldVA Move to higher ground! Flash F...,1
17,NWSWakefieldVA,Move to higher ground! Flash Flood Warning in...,2016-09-30 19:42:02+00:00,1,1,,,,NWSWakefieldVA,NWSWakefieldVA Move to higher ground! Flash F...,1
18,noteworthyrun,At bike and bag check-in. Water is still crazy...,2016-09-30 18:13:00+00:00,0,1,,,,noteworthyrun,noteworthyrun At bike and bag check-in. Water ...,1
19,iembot_rnk,"At 1:00 PM, 2 W Stewartsville [Bedford Co, VA]...",2016-09-30 17:40:35+00:00,0,0,,#RNK,,iembot rnk,"iembot rnk At 1:00 PM, 2 W Stewartsville [Bedf...",1
20,A_L_I_XXX,I apologize now for all of the beautiful pictu...,2016-09-30 17:39:05+00:00,0,0,,,,A L I XXX,A L I XXX I apologize now for all of the beaut...,1
21,jerrellddean,"""And Oh the joy that floods my soul!"" . To ta...",2016-09-30 17:22:52+00:00,0,0,,,,jerrellddean,"jerrellddean ""And Oh the joy that floods my s...",1
22,BravoSayz,"They drove through floods, rain, more rain, mo...",2016-09-30 17:22:38+00:00,1,1,,,,BravoSayz,"BravoSayz They drove through floods, rain, mor...",1
23,NWSRaleigh,Move to higher ground! Flash Flood Warning co...,2016-09-30 15:42:25+00:00,1,0,,,,NWSRaleigh,NWSRaleigh Move to higher ground! Flash Flood...,1
24,NWSRaleigh,Move to higher ground! Flash Flood Warning co...,2016-09-30 15:38:07+00:00,0,0,,,,NWSRaleigh,NWSRaleigh Move to higher ground! Flash Flood...,1

In [45]:
df_1_IA['target'][[0,1,2,4,5,22,23, 24]]=0

/Users/grace1916/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
df_1_IA['target'].value_counts()

1    634
0      8
Name: target, dtype: int64

y=0, Iowa

In [47]:
# y= 0, Iowa tweets
# change function to max tweet of 660 from 1000 to balance it out
df_0_IA = get_tweets('Iowa', "2017-09-01", "2017-10-21")

In [48]:
df_0_IA['user_split'] = [df_0_IA['User'][row].replace('_', ' ') for row in df_0_IA.index]
df_0_IA['user_text'] = df_0_IA['user_split']+' ' + df_0_IA['Text']
df_0_IA.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text
0,jimosborne98,Lol! The flood of lies just keeps on rolling!,2017-10-20 22:49:49+00:00,0,0,,,,jimosborne98,jimosborne98 Lol! The flood of lies just keeps...
1,timinhollywood,Excuse me while I flood my timeline with Howar...,2017-10-20 19:11:14+00:00,0,0,,,,timinhollywood,timinhollywood Excuse me while I flood my time...
2,iembot_hgx,"At 6:00 AM, 3 W League City [Galveston Co, TX]...",2017-10-20 14:52:39+00:00,0,0,,#HGX,,iembot hgx,"iembot hgx At 6:00 AM, 3 W League City [Galves..."
3,NWSHouston,"Flash Flood Warning including League City TX, ...",2017-10-20 09:52:18+00:00,7,3,,,,NWSHouston,NWSHouston Flash Flood Warning including Leagu...
4,USGS_TexasFlood,"#USGS08030500 - Sabine Rv nr Ruliff, TX is abo...",2017-10-20 07:01:38+00:00,0,1,,#USGS08030500,,USGS TexasFlood,USGS TexasFlood #USGS08030500 - Sabine Rv nr R...

In [49]:
df_0_IA['target']=0
df_0_IA.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target
0,jimosborne98,Lol! The flood of lies just keeps on rolling!,2017-10-20 22:49:49+00:00,0,0,,,,jimosborne98,jimosborne98 Lol! The flood of lies just keeps...,0
1,timinhollywood,Excuse me while I flood my timeline with Howar...,2017-10-20 19:11:14+00:00,0,0,,,,timinhollywood,timinhollywood Excuse me while I flood my time...,0
2,iembot_hgx,"At 6:00 AM, 3 W League City [Galveston Co, TX]...",2017-10-20 14:52:39+00:00,0,0,,#HGX,,iembot hgx,"iembot hgx At 6:00 AM, 3 W League City [Galves...",0
3,NWSHouston,"Flash Flood Warning including League City TX, ...",2017-10-20 09:52:18+00:00,7,3,,,,NWSHouston,NWSHouston Flash Flood Warning including Leagu...,0
4,USGS_TexasFlood,"#USGS08030500 - Sabine Rv nr Ruliff, TX is abo...",2017-10-20 07:01:38+00:00,0,1,,#USGS08030500,,USGS TexasFlood,USGS TexasFlood #USGS08030500 - Sabine Rv nr R...,0

In [50]:
df_IA = pd.concat([df_1_IA, df_0_IA], axis = 0)

In [51]:
df_IA['location'] = 'IA'
df_IA.head()

,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target,location
0,iembot_grr,"At 7:30 PM, 3 SW Clarksville [Ionia Co, MI] 91...",2016-10-02 00:02:34+00:00,0,0,,#GRR,,iembot grr,"iembot grr At 7:30 PM, 3 SW Clarksville [Ionia...",0,IA
1,chriswhetlor,"Alien Crop Circles, sign of the flood, or poss...",2016-10-01 22:42:21+00:00,0,0,,,,chriswhetlor,"chriswhetlor Alien Crop Circles, sign of the f...",0,IA
2,NickFry,Don't forget!!! TONIGHT! WV Flood Benefit Conc...,2016-10-01 21:52:44+00:00,0,0,,,,NickFry,NickFry Don't forget!!! TONIGHT! WV Flood Bene...,0,IA
3,iembot_lwx,"At 3:13 PM, 1 SW Breton BAY [St. Marys Co, MD]...",2016-10-01 19:15:32+00:00,0,0,,#LWX,,iembot lwx,"iembot lwx At 3:13 PM, 1 SW Breton BAY [St. Ma...",1,IA
4,Mzzbesttbest,My Sisters keeps Telling me not to Flood and S...,2016-10-01 17:58:03+00:00,1,1,,,,Mzzbesttbest,Mzzbesttbest My Sisters keeps Telling me not t...,0,IA

In [52]:
df_IA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1642 entries, 0 to 999
Data columns (total 12 columns):
User           1642 non-null object
Text           1642 non-null object
Date           1642 non-null datetime64[ns, UTC]
Favorites      1642 non-null int64
Retweets       1642 non-null int64
Mentions       1642 non-null object
Hashtags       1642 non-null object
Geolocation    1642 non-null object
user_split     1642 non-null object
user_text      1642 non-null object
target         1642 non-null int64
location       1642 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 166.8+ KB

In [53]:
#df_IA.to_csv('df_IA.csv')

In [54]:
pd.read_csv('../Datasets/df_IA.csv')

,Unnamed: 0,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target,location
0,0,TooCute504,Took the time out to volunteer in BR today. Pe...,2016-10-02 23:06:20+00:00,0,0,NaN,NaN,NaN,TooCute504,TooCute504 Took the time out to volunteer in B...,0,IA
1,1,juliakate,The great Paducah Flood Wall Murals... this At...,2016-10-02 22:43:33+00:00,0,0,NaN,NaN,NaN,juliakate,juliakate The great Paducah Flood Wall Murals....,0,IA
2,2,Slapfish_2009,The Barman's Fund and USBG Tailgate Benefit fo...,2016-10-02 20:32:22+00:00,0,0,NaN,#DrinkWithPurpose,NaN,Slapfish 2009,Slapfish 2009 The Barman's Fund and USBG Tailg...,0,IA
3,3,AhleahZoe1,Flood waters. @Downtown Burlington IA https://...,2016-10-02 18:01:34+00:00,0,0,NaN,NaN,NaN,AhleahZoe1,AhleahZoe1 Flood waters. @Downtown Burlington ...,1,IA
4,4,katyxbeth,Last night sure was rainy as seen right before...,2016-10-02 17:54:06+00:00,0,0,NaN,NaN,NaN,katyxbeth,katyxbeth Last night sure was rainy as seen ri...,0,IA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1328,655,_ms_flood,"Drinking a Athena Paradiso (Tart Cherry, Raspb...",2017-09-19 23:55:13+00:00,0,0,@creaturebeer,NaN,NaN,ms flood,ms flood Drinking a Athena Paradiso (Tart Che...,0,IA
1329,656,iembot_phi,"At 7:16 PM, Ocean City [Cape May Co, NJ] SOCIA...",2017-09-19 23:51:14+00:00,0,0,NaN,#PHI,NaN,iembot phi,"iembot phi At 7:16 PM, Ocean City [Cape May Co...",0,IA
1330,657,iembot_phi,"At 7:41 PM, 2 ENE Wildwood [Cape May Co, NJ] T...",2017-09-19 23:48:15+00:00,0,0,NaN,#PHI,NaN,iembot phi,"iembot phi At 7:41 PM, 2 ENE Wildwood [Cape Ma...",0,IA
1331,658,SuziWestModel,pushpushsalon was also effected by hurricane I...,2017-09-19 23:08:50+00:00,0,0,NaN,NaN,NaN,SuziWestModel,SuziWestModel pushpushsalon was also effected ...,0,IA
1332,659,RiptideBait,7:00 pm flood update . Brigantine NJ #riptideb...,2017-09-19 23:06:02+00:00,0,0,NaN,#riptidebaitandtackle #brigantinenj #brigantin...,NaN,RiptideBait,RiptideBait 7:00 pm flood update . Brigantine ...,0,IA

We used the combined data from this model to scrape the tweets.